@import "./base.css";

.root {
  position: relative;
  font-size: 1em;
  width: fit-content;
  outline: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  height: calc(1em + 30px);
  font-family: var(--fontFamily);
}
.root::-moz-focus-inner {
  border: 0;
}
.root:focus {
  outline: 0;
}

.container {
  overflow: hidden;
  width: min-content;
  height: min-content;
  margin: 0;
  border-radius: var(--border-radius);
  position: relative;
  padding: 0;
}

.button,
.flatButton,
.borderlessButton {
  margin: 0;
  cursor: pointer;
  outline: 0;
  width: min-content;
  padding: 0.25em 0.5em;
  border-radius: var(--border-radius);
}

.button {
  border-right: var(--border-size) solid var(--borderColour);
  border-bottom: var(--border-size) solid var(--borderColour);
  background-color: var(--secondaryBackgroundColour);
  color: var(--secondaryTextColour);
  transition: all 150ms ease-in-out;
}

.button:active {
  border-right: 0 solid var(--borderColour);
  border-bottom: 0 solid var(--borderColour);
  margin-left: var(--border-size);
  margin-top: var(--border-size);
  outline: 0;
}

.flatButton {
  border: var(--border-size) solid var(--borderColour);
  color: var(--borderColour);
  background-color: transparent;
  transition: all 80ms ease-out;
}

.flatButton:active {
  filter: blur(1px);
  transform: scale(0.95);
}

.borderlessButton {
  color: var(--borderColour);
  background-color: transparent;
}

.ripple {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  transform: scale(0);
  opacity: 1;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
.button ~ .ripple {
  background-color: var(--buttonRipple);
}
.flatButton ~ .ripple,
.borderlessButton ~ .ripple {
  background-color: var(--buttonDarkRipple);
}

.rippleAnimation {
  animation: rippleKeys 0.5s linear;
}
@keyframes rippleKeys {
  100% {
    transform: scale(40);
    opacity: 0;
  }
}
