@import "./base.css";

.root {
  padding-left: 0.5em;
  font-family: var(--fontFamily);
  font-size: 2em;
}
.root * {
  cursor: pointer;
}
.root input {
  display: none;
}
.root span {
  font-weight: 200;
  font-size: 0.6em;
  display: inline-block;
  position: relative;
  top: -0.3em;
}
.select {
  vertical-align: middle;
  display: inline-block;
  padding: 0;
  margin-bottom: 0.2em;
  overflow: hidden;
  margin-right: 0.3em;
}

.checkbox {
  border: 0.05em solid var(--borderColour);
  width: 0.4em;
  height: 0.4em;
  border-radius: 0.15em;
}
.checkbox div {
  width: 0;
  height: 0;
}
.checkbox div:before {
  content: "";
  position: relative;
  display: block;
  background-color: var(--secondaryBackgroundColour);
  width: 0.1em;
  height: 0.2em;
  top: 0.2em;
  left: 0.05em;
  transform: rotate(-45deg);
}

.checkbox div:after {
  content: "";
  position: relative;
  display: block;
  background-color: var(--secondaryBackgroundColour);
  width: 0.1em;
  height: 0.4em;
  top: -0.2em;
  left: 0.21em;
  transform: rotate(45deg);
}
.radio div {
  border: var(--backgroundColour) solid 0.1em;
  border-radius: 100%;
  width: 0.2em;
  margin: 0.05em 0.05em;
  height: 0.2em;
}
.radio {
  border-radius: 100%;
  background-color: var(--borderColour);
  width: 0.5em;
  height: 0.5em;
}
.radio.unchecked div {
  border-color: transparent;
  background-color: var(--backgroundColour);
}
.radio.checked div {
  animation: radioAnim 0.4s ease-in-out;
}
@keyframes radioAnim {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
