@import "./base.css";

.root {
  margin: 0;
  padding: 0;
  font-size: 1em;
  height: min-content;
}
.root > input {
  border: 0;
  border-bottom: var(--border-size) solid var(--borderColour);
  position: absolute;
  color: var(--textColour);
  background: transparent;
}
.root > input:focus {
  outline: none;
}
.sub {
  position: relative;
  display: block;
  color: var(--borderColour);
  font-size: 0.5em;
  transition: all 80ms linear;
}

.subFg {
  margin-top: -14px;
  top: 20px;
  margin-bottom: 0;
  font-size: 1em;
}
