@import "./base.css";

.root {
  margin: 0;
  padding: 0;
  font-size: 1em;
  height: max-content;
  position: relative;
}
.root > input {
  border: 0;
  border-bottom: var(--border-size) solid var(--borderColour);
  color: var(--textColour);
  background: transparent;
  position: absolute;
  bottom: 0;
}
.root > input:focus {
  outline: none;
}
.sub {
  position: relative;
  display: block;
  color: var(--borderColour);
  font-size: 0.5em;
  transition: all 80ms linear;
  margin-top: 0.1em;
}

.subFg {
  margin-top: -0.5em;
  top: 1em;
  margin-bottom: 0;
  font-size: 1em;
}
